.itemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin: 5px 0;
  padding: 25px;
  box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 26px;
}

.itemContainerDark {
  background-color: rgb(53, 44, 44);
  box-shadow: 9px 9px 15px rgba(255, 255, 255, 0.25);
}

/* ================ */
.iconContainer {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  margin-right: 20px;
}

.svg {
  width: 100%;
  height: 100%;
  fill: #555454;
}

.svgDark {
  fill: white;
}

.income {
  color: rgb(113, 238, 151);
  margin-right: 20px;
  font-weight: 600;
}

.expense {
  color: rgb(238, 132, 113);
  margin-right: 20px;
  font-weight: 600;
}

.categoryDateBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 20px;
}

.category {
  line-height: 20px;
  font-size: 16px;
  color: #2d2c2c;
  font-weight: 600;
  margin-bottom: 5px;
}

.categoryDark {
  color: white;
}

.date, .comments {
  font-size: 8px;
  line-height: 10px;
}

.btn {
  display: block;
  height: 28px;
  width: 28px;
  color: white;
  background: #fde984;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: rgba(146, 136, 136, 0.459);
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
