.btn {
  display: block;
  margin: 0 auto 40px auto;
  border: none;
  padding: 5px 20px;
  line-height: 34px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(100deg, #e97070 30%, #e09595 50%, #e97070 70%);
  background-size: 400%;
  animation: waitingForClick 1.2s ease-in-out infinite;
  user-select: none;
}

@keyframes waitingForClick {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
