.container {
  width: 150px;
  background-color: white;
  border-radius: 7px;
  background-color: #1e1e1e;
  padding: 15px;
  margin: 10px;
}

.title {
  text-transform: capitalize;
  font-size: 11px;
  margin-bottom: 10px;
}

.value {
  color: white;
  font-size: 30px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}
