.item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  box-shadow: 2px 2px 10px #835ded;
  border-radius: 25px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 225px;
  margin: 0 auto 20px auto;
  position: relative;
  font-weight: 700;
  text-transform: capitalize;
}

.item:nth-child(even) {
  right: 20px;
}

.item:nth-child(odd) {
  left: 20px;
}
