.formRadioBtn {
  display: inline-block;
  margin-right: 10px;
}
.formRadioBtn input[type="radio"] {
  display: none;
}
.formRadioBtn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
}

/* Checked */
.formRadioBtn input[type="radio"]:checked + label {
  background: #ffe0a6;
}

/* Hover */
.formRadioBtn label:hover {
  color: #666;
}
