* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #9e9e9e;
  font-family: sans-serif;
}

.addOperationBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(64, 117, 216);
}