* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  font-family: Montserrat, sans-serif;
  color: #2D2C2C;
}

.addOperationBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid transparent;
  background-color: rgb(64, 117, 216);
  position: fixed;
  bottom: 20px;
  right: 20px;
}
